In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Downloaded/Stack_Overflow/survey_results_public.csv')
df_schema = pd.read_csv('Downloaded/Stack_Overflow/survey_results_schema.csv')

In [3]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_colwidth', None)

In [5]:
df['YearsCodePro'] = df['YearsCodePro'].replace('More than 50 years', 51)
df['YearsCodePro'] = df['YearsCodePro'].replace('Less than 1 year', 51)

In [12]:
df['YearsCodePro'].fillna(0, inplace=True)

In [17]:
df['YearsCodePro'] = df['YearsCodePro'].astype(int)

In [27]:
filt = (df['Country'] == 'Australia') & (df['LanguageWorkedWith'].str.contains('Python')) & (df['YearsCodePro'] > 1)

In [28]:
df = df.loc[filt].sort_values(['ConvertedComp', 'YearsCodePro'], ascending=False)

In [26]:
df[['Age', 'ConvertedComp']].sort_values('Age')

        Age  ConvertedComp
19626  18.0        31400.0
27778  19.0        10000.0
49239  19.0            NaN
34272  20.0       601284.0
21017  21.0        37079.0
...     ...            ...
5397    NaN            NaN
10935   NaN            NaN
19574   NaN            NaN
3927    NaN            NaN
26233   NaN            NaN

[264 rows x 2 columns]